.navbar {
    background-color: var(--main-bg-color);
    border-bottom: 2px solid black;
    font-family: 'Staatliches', sans-serif;
}

.nav-link {
    color: var(--secondary-color) !important;
}

.dropdown-menu {
position: absolute !important;
left: -3rem !important;
background-color: var(--card-bg-color);
}