@import url(colors.css);
@import url('navbar.css');
@import url('buttons.css');
@import url('fonts.css');

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    background-color: var(--main-bg-color);
}

.form-container {
    font-size: 1.5rem;
    background-color: var(--card-bg-color) !important;
    margin: auto !important;
    padding: 3rem;
    border-radius: 1rem;
}

.vertical-center {
margin: 1rem;
}

#disclaimer {
    font-size: 1rem;
}

#result {
    font-size: 1rem;
}

.login {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
    font-family: "staatliches", sans-serif;
}
.success {
    color: green !important;
}

.error {
    color: red !important;
}

