@import url('buttons.css');
@import url('navbar.css');
@import url('fonts.css');
@import url('cards.css');
@import url('body.css');
@import url('colors.css');

body {
    color: white;
    overflow-x: hidden;
}

#map {
    height: 25rem; 
}

.bestelling-group {

    background-color: var(--secondary-color);
    margin-bottom: 20px;
}

.small-image {
    width: 50px;
}

.container {
    border-top: 1px solid black;
}