@import url(colors.css);

.btn-primary {
    background-color: var(--secondary-color) !important;
    color: black !important;
    border: none !important;
}

.btn-secondary {
    background-color: var(--main-bg-color) !important;
    color: white !important;
    border: none !important;
    width: auto !important;
}