@property --main-bg-color {
    syntax: "<color>";
  inherits: false;
  initial-value: #403048;
}

@property --main-bg-color-dark {
    syntax: "<color>";
  inherits: false;
  initial-value: #302030;
}

@property --card-bg-color {
    syntax: "<color>";
  inherits: false;
  initial-value: #E0C8A8;
}

@property --secondary-color {
    syntax: "<color>";
  inherits: false;
  initial-value: #C0A840;
}

@property --secondary-color-dark {
    syntax: "<color>";
  inherits: false;
  initial-value: #A08030;
}

