@import url('buttons.css');
@import url('navbar.css');
@import url('fonts.css');
@import url('cards.css');
@import url('body.css');

#override {
    width: 95%;
}

#aantal {
    width: 3rem;
}

.title {
    color: white;
    font-family: "fauxjapanese", sans-serif;
    margin: 10px;
}

.return {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    color: red;
    text-decoration: none;
}

.btn-primary {
    width: 10rem;
}