@import url('colors.css');
@import url('buttons.css');
@import url('navbar.css');
@import url('fonts.css');
@import url('cards.css');
@import url('body.css');

/* Ik weet niet precies wat er aan de hand is, maar zonder deze card class werkt de css niet zoals het hoort. */

.card {
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#override {
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.title {
    color: white;
    font-family: "fauxjapanese", sans-serif;
    margin: 10px;
}

.btn {
    width: 8rem;
}
.detail-link {
    text-decoration: none;
    color: inherit;
}