@import url('colors.css');
@import url('buttons.css');
@import url('navbar.css');
@import url('fonts.css');

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--main-bg-color);
};

/* Ik weet niet precies wat er aan de hand is, maar zonder deze card class werkt de css niet zoals het hoort. */
.card {
}

#override {
    width: 45%;
    margin: 10px;
    background-color: var(--card-bg-color);
    padding: 0;
}

#cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.aantal {
    width: 2.5rem;
    height: 2rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.375rem;
    margin: 0.5rem;
}

.card-img-top {
    height: 12rem !important;
    object-fit: contain !important;
}

.title {
    color: white;
    font-family: "fauxjapanese", sans-serif;
    margin: 10px;
}

.btn {
    width: 8rem;
}
.detail-link {
    text-decoration: none;
    color: inherit;
}